# Y E A S T

In [7]:
import pandas as pd
import numpy as np
from numpy import random
import scipy.special as sc
import matplotlib as m
import os

## w i l d t y p e

In [9]:
# only those files which survived their consistency test in 
# 'Statistical models for RNA-seq data derived from a two-condition 48-replicate experiment' by Gierlinski et al. 2015

# exluding reps { 21, 22, 25, 28, 34, 36 }

WT_files = [
 'WT_rep02_MID50_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep03_MID51_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep04_MID58_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep05_MID93_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep06_MID30_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep07_MID24_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep08_MID20_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep09_MID91_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep10_MID37_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep11_MID54_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep12_MID03_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep13_MID45_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep14_MID52_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep15_MID09_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep16_MID92_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep17_MID66_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep18_MID48_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep19_MID83_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep20_MID90_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep23_MID36_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep24_MID69_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep26_MID08_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep27_MID41_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep29_MID68_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep30_MID27_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep31_MID43_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep32_MID95_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep33_MID88_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep35_MID32_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep37_MID07_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep38_MID87_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep39_MID05_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep40_MID18_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep41_MID13_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep42_MID10_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep43_MID49_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep44_MID22_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep45_MID44_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep46_MID94_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep47_MID17_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep48_MID85_allLanes_tophat2.0.5.bam.gbgout']

In [10]:
WT_yeast = pd.read_csv('WT_countdata/WT_rep01_MID39_allLanes_tophat2.0.5.bam.gbgout', sep='\t', names = ['genes', '1']) 

r = 1

for filename in WT_files[:]:
    r += 1
    WT_yeast = WT_yeast.merge(pd.read_csv('WT_countdata/'+filename, sep='\t', names = ['genes', f'{r}']), left_on='genes', right_on='genes')

WT_yeast = WT_yeast[:-5]

WT_yeast.to_csv('WT_yeast.csv')


WT_yeast

,genes,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
0,15S_rRNA,2,12,31,8,21,11,2,3,7,...,0,49,9,4,11,12,1,22,12,4
1,21S_rRNA,20,76,101,99,128,74,36,32,57,...,10,274,49,30,72,58,21,159,107,70
2,HRA1,3,2,2,2,3,5,4,0,4,...,5,3,6,5,2,2,2,5,2,1
3,ICR1,75,123,107,157,98,245,119,120,119,...,85,177,137,118,113,81,142,94,187,106
4,LSR1,60,163,233,163,193,375,194,84,211,...,66,385,232,149,114,81,109,132,243,128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7121,tY(GUA)J2,0,1,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7122,tY(GUA)M1,0,0,1,1,1,1,0,0,1,...,0,1,1,0,1,0,0,0,1,0
7123,tY(GUA)M2,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7124,tY(GUA)O,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,1
7125,tY(GUA)Q,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## S n f 2

In [11]:
# only those files which survived their consistency test in 
# 'Statistical models for RNA-seq data derived from a two-condition 48-replicate experiment' by Gierlinski et al. 2015

# exluding reps { 6, 13, 25, 35 }

Snf2_files = [
'Snf2_rep02_MID21_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep03_MID28_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep04_MID11_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep05_MID82_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep07_MID26_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep08_MID78_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep09_MID04_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep10_MID38_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep11_MID01_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep12_MID02_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep14_MID33_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep15_MID75_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep16_MID72_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep17_MID89_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep18_MID40_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep19_MID84_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep20_MID15_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep21_MID31_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep22_MID53_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep23_MID25_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep24_MID42_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep26_MID71_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep27_MID34_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep28_MID74_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep29_MID57_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep30_MID16_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep31_MID77_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep32_MID70_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep33_MID29_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep34_MID14_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep36_MID23_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep37_MID46_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep38_MID06_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep39_MID19_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep40_MID12_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep41_MID79_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep42_MID47_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep43_MID73_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep44_MID65_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep45_MID86_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep46_MID35_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep47_MID56_allLanes_tophat2.0.5.bam.gbgout',
'Snf2_rep48_MID55_allLanes_tophat2.0.5.bam.gbgout'
]

In [12]:
Snf2_yeast = pd.read_csv('Snf2_countdata/Snf2_rep01_MID96_allLanes_tophat2.0.5.bam.gbgout', sep='\t', names = ['genes', '1']) 

r = 1

for filename in Snf2_files[:]:
    r += 1
    Snf2_yeast = Snf2_yeast.merge(pd.read_csv('Snf2_countdata/'+filename, sep='\t', names = ['genes', f'{r}']), left_on='genes', right_on='genes')

Snf2_yeast = Snf2_yeast[:-5]


Snf2_yeast.to_csv('Snf2_yeast.csv')


Snf2_yeast

,genes,1,2,3,4,5,6,7,8,9,...,35,36,37,38,39,40,41,42,43,44
0,15S_rRNA,4,2,5,5,46,5,4,2,40,...,7,15,6,1,85,8,34,3,6,3
1,21S_rRNA,31,18,23,44,356,35,33,13,148,...,64,79,67,13,576,52,234,23,44,24
2,HRA1,5,1,3,1,2,1,4,4,0,...,5,5,0,2,0,1,2,2,0,1
3,ICR1,205,196,211,252,127,275,160,190,146,...,286,155,184,164,202,186,148,183,195,145
4,LSR1,210,103,159,260,298,303,96,132,263,...,250,195,153,57,742,227,227,117,224,136
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7121,tY(GUA)J2,1,0,0,0,0,0,1,0,0,...,1,1,0,0,0,0,0,2,1,1
7122,tY(GUA)M1,0,0,1,0,2,0,0,0,0,...,1,1,1,0,0,0,0,0,0,1
7123,tY(GUA)M2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7124,tY(GUA)O,0,1,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
7125,tY(GUA)Q,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#### 100 boostrap iterations á #reps ∈ {3,6,12,20}

In [12]:
import random

In [13]:
# for 3 reps per experiment

for i in range(1,101):

    data = pd.DataFrame({'locus_name': WT_yeast.genes})

    # selecting the reps for this round
    # drawing from 42 in WT and 45 in Snf2
    # without replacement!
    
    WT_REPS = [str(x) for x in (random.sample([*range(1,43)], k=3))]
    Snf2_REPS = [str(x) for x in (random.sample([*range(1,45)], k=3))]

    data = pd.concat([data, WT_yeast[WT_REPS], Snf2_yeast[Snf2_REPS]], axis=1).set_index('locus_name')

    data.to_csv(f"3R_100/R3_{i}.csv")

In [15]:
# for 6 reps per experiment

for i in range(1,101):
    
    data = pd.DataFrame({'locus_name': WT_yeast.genes})

    # selecting the reps for this round
    # drawing from 42 in WT and 45 in Snf2
    # without replacement!
    
    WT_REPS = [str(x) for x in (random.sample([*range(1,43)], k=6))]
    Snf2_REPS = [str(x) for x in (random.sample([*range(1,45)], k=6))]


    data = pd.concat([data, WT_yeast[WT_REPS], Snf2_yeast[Snf2_REPS]], axis=1).set_index('locus_name')

    data.to_csv(f"6R_100/R6_{i}.csv")

In [17]:
# for 12 reps per experiment

for i in range(1,101):

    data = pd.DataFrame({'locus_name': WT_yeast.genes})

    # selecting the reps for this round
    # drawing from 42 in WT and 45 in Snf2
    # without replacement!
    
    WT_REPS = [str(x) for x in (random.sample([*range(1,43)], k=12))]
    Snf2_REPS = [str(x) for x in (random.sample([*range(1,45)], k=12))]


    data = pd.concat([data, WT_yeast[WT_REPS], Snf2_yeast[Snf2_REPS]], axis=1).set_index('locus_name')

    data.to_csv(f"12R_100/R12_{i}.csv")

In [18]:
# for 20 reps per experiment


for i in range(1,101):

    data = pd.DataFrame({'locus_name': WT_yeast.genes})

    # selecting the reps for this round
    # drawing from 42 in WT and 45 in Snf2
    # without replacement!
    
    WT_REPS = [str(x) for x in (random.sample([*range(1,43)], k=20))]
    Snf2_REPS = [str(x) for x in (random.sample([*range(1,45)], k=20))]


    data = pd.concat([data, WT_yeast[WT_REPS], Snf2_yeast[Snf2_REPS]], axis=1).set_index('locus_name')

    data.to_csv(f"20R_100/R20_{i}.csv")

# all replicates

In [18]:
# all replicates together

data = pd.concat([WT_yeast, Snf2_yeast.iloc[:,1:]], axis=1).set_index('genes')

data.to_csv(f"RALL.csv")
data

,1,2,3,4,5,6,7,8,9,10,...,35,36,37,38,39,40,41,42,43,44
genes,,,,,,,,,,,,,,,,,,,,,
15S_rRNA,2,12,31,8,21,11,2,3,7,6,...,7,15,6,1,85,8,34,3,6,3
21S_rRNA,20,76,101,99,128,74,36,32,57,104,...,64,79,67,13,576,52,234,23,44,24
HRA1,3,2,2,2,3,5,4,0,4,4,...,5,5,0,2,0,1,2,2,0,1
ICR1,75,123,107,157,98,245,119,120,119,132,...,286,155,184,164,202,186,148,183,195,145
LSR1,60,163,233,163,193,375,194,84,211,158,...,250,195,153,57,742,227,227,117,224,136
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tY(GUA)J2,0,1,0,0,0,2,0,0,0,0,...,1,1,0,0,0,0,0,2,1,1
tY(GUA)M1,0,0,1,1,1,1,0,0,1,0,...,1,1,1,0,0,0,0,0,0,1
tY(GUA)M2,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tY(GUA)O,0,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
tY(GUA)Q,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# m e t a d a t a

In [ ]:
# DESeq2 needs meta data files 


# like this

# locus_name,dex
# n1_1,control
# n1_2,control
# n1_3,control
# n2_1,treatment
# n2_2,treatment
# n2_3,treatment

In [5]:
# all reps

METADATA_NAME = f"RALL_meta.txt"

with open(METADATA_NAME, "w") as out_f: 
    out_f.write(f"locus_name,dex\n")
                
    for i in range(1,43):
        out_f.write(f"n1_{i},control\n")
                    
    for i in range(1,45):
        out_f.write(f"n2_{i},treatment\n")